@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slick-prev {
  z-index: 10;
  left: 5px;
}
.slick-next {
  z-index: 10;
  right: 2px;
}
@media (max-width: 795px) {
  .slick-prev {
    left: 0px;
  }
  .slick-next {
    right: -1px;
  }
}

.slick-hero .slick-prev {
  left: 20px;
  width: 35px;
  height: 35px;
  background-color: transparent;
}
.slick-hero .slick-next {
  right: 20px;
  width: 35px;
  height: 35px;
  background-color: transparent;
}

.slick-prev,
.slick-next {
  font-size: 0px;
  width: 40px;
  height: 40px;
  border-radius: 10%;
  opacity: 0.8;
  background-color: #000;
  transition: background-color 0.3s, color 0.3s;
}
.slick-prev:hover,
.slick-next:hover {
  background-color: #000;
}
